<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="doSomething($event)">
  <mat-step [completed]="isCompleted" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="getEmail(firstFormGroup)">
      <ng-template matStepLabel>Step 1</ng-template>
      <mat-label class="justifyCenter topLabel">Email:</mat-label>
      <mat-form-field class="justifyCenter toptext">
        <input matInput placeholder="Enter Your Email" formControlName="email" required>
      </mat-form-field>
      <div class="justifyCenter topButton">
        <button mat-button matStepperNext type="submit">Next</button>
      </div>
      <div>
          <mat-label class="justifyCenter topButton3" *ngIf = "temp1">Enter the correct email</mat-label>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="isCompleted1" [stepControl]="firstFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="verifyAnswers(secondFormGroup)">
      <ng-template matStepLabel>Step 2</ng-template>
      <mat-label class="justifyCenter topLabel">1) {{ userDetails?.answers[0]?.question?.question }} ?</mat-label>
      <mat-form-field class="justifyCenter toptext">
        <input matInput placeholder="Enter Your answer here" formControlName="answer1" required>
      </mat-form-field>
      <mat-label class="justifyCenter topLabel1">2) {{ userDetails?.answers[1]?.question?.question }} ?</mat-label>
      <mat-form-field class="justifyCenter toptext1">
        <input matInput placeholder="Enter Your answer here" formControlName="answer2" required>
      </mat-form-field>
      <div class="justifyCenter topButton1">
        <button mat-button matStepperNext type="submit">Next</button>
      </div>

      <div>
          <mat-label class="justifyCenter topButton2" *ngIf = "temp">Your answer is not correct</mat-label>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Step 3</ng-template>
      <h3 class="justifyCenter topLabel">We just emailed you a link </h3>
      <h5 class="justifyCenter toptext">Please check your email and click the secure link </h5>
      <div class="justifyCenter topButton">
        <button mat-button >Send Link</button>
        <button mat-button (click)="resendLink()">Resend Link</button>
      </div>
    </form>
    <!-- <ng-template matStepLabel>Step 3</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div> -->
  </mat-step>
</mat-horizontal-stepper>