.justifyCenter {
    left: 40%;
    top: 40%;
    width: 260px;
    margin-left: -100px;  
    position: absolute;
}
/* .mat-horizontal-content-container {
    margin-top: 50px;
    margin-left: 50px;
} */
.topLabel {
    margin-top: -155px;
}
.topLabel1 {
    margin-top: -30px;
}
.toptext {
    margin-top: -125px;
}
.toptext1 {
    margin-top: 5px;
}
.topButton {
    margin-top: -65px;
}
.topButton1 {
    margin-top: 60px;
}
.topButton2 {
    margin-top: 110px;
    color: brown;
}

.topButton3 {
    margin-top: 10px;
    color: brown;
}

.aaa {
    margin-top: -30px;
}